
/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header button {
  padding: 8px 16px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.header button:hover {
  background: #1d4ed8;
}

textarea {
  flex: 1;
  width: 100%;
  
  font-size: 1.1rem;
  border: 1px solid black;
  outline: none;
  resize: none;
}

/* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header button {
  padding: 8px 16px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.header button:hover {
  background: #1d4ed8;
}

textarea {
  flex: 1;
  width: 100%;
  
  font-size: 1.1rem;
  border: 1px solid black;
  outline: none;
  resize: none;
}